.addToplayList{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 750px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 330px;
    background-color: blueviolet;
    padding-top: 70px;
}

.addToplayList::-webkit-scrollbar{
    display: none;
}

.addList{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}
.addList .fas{
    font-size: 70px;
}