@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mochiy Pop One', sans-serif;

}

.header{
    height : 80px;
    background: rgb(142,67,231);
    background: linear-gradient(90deg, #123456 0%, #15589b 100%);
color: white;
    display: flex;
    justify-content: space-between;
}

.body{
    height: calc(100vh - 180px);
}

.player{
    height: 100px;
}

.homenavleft{
    display: flex;
    height: 100%;
    color: white;
    width: 40vw;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    width: 15vw;
}

.headsearch{
    
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    /* height: 40px; */
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.nav span{
    height: 40px;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 13px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    border-radius: 40px;
}

.title{
    font-size: 17px;
    font-weight: 500;
}

#homesearch{
    padding: 0px 10px;
    width: 250px;
    align-self: center;
    margin-right: 10px;
    border: none;
    height: 40px;
    color: black !important;
}
#homesearch::placeholder{
    color: black;
}

#homesearch:focus{
    outline: none;
}

.homenavright{
    width: auto;
    margin-right: 30px;
    height: 100%;
    display: flex;
}

.homenavright img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-self: center;
}

@media screen and (max-width:1200px) {

    #homesearch{
        width: 250px;
    }
    .homenavright{
        padding: 0px 10px;
        justify-content: flex-end;
        width: 40vw;
    }
    .title{
        margin-left: 20px;
        width: 50vw;
    }
}



@media screen and (max-width:1000px) {
    
    .headsearch{
        font-size: 16px;
    }
    #homesearch{
        width: 250px;
    }
    .homenavright{
        padding: 0px 10px;
        justify-content: flex-end;
        width: 40vw;
    }
    .title{
        margin-left: 20px;
        width: 60vw;
        font-size: 16px;
    }
}



@media screen and (max-width:900px) {
    .headsearch{
        font-size: 16px;
    }
    #homesearch{
        width: 250px;
    }
    .homenavright{
        padding: 0px 10px;
        justify-content: flex-end;
        width: 40vw;
    }
    .title{
        margin-left: 20px;
    }
    #homesearch{
        width: 200px;
    }
}



@media screen and (max-width:700px) {
    
    .headsearch{
        font-size: 16px;
    }
    #homesearch{
        width: 250px;
    }
    .homenavright{
        padding: 0px 10px;
        justify-content: space-between;
        width: 70vw;
    }
    .title{
        margin-left: 20px;
    }
    #homesearch{
        width: 200px;
    }
}


@media screen and (max-width:600px) {
    .nav{
        display: none;
    }
    .title{
        display: none;
    }
    .headsearch{
        font-size: 16px;
    }
    #homesearch{
        width: 250px;
    }
    .homenavright{
        padding: 0px 10px;
        justify-content: space-between;
        width: 100vw;
    }
    .homenavleft{
        display: none;
    }  
}


@media screen and (max-width:500px) {
    .nav{
        display: none;
    }
    .title{
        display: none;
    }
    .headsearch{
        font-size: 13px;
    }
    #homesearch{
        width: 200px;
    }
    .homenavright{
        padding: 0px 10px;
        margin-right: 10px;

    }
    
}

@media screen and (max-width:400px) {
    .nav{
        display: none;
    }
    .title{
        display: none;
    }
    .headsearch{
        font-size: 13px;
    }
    #homesearch{
        width: 150px;
    }
    .homenavright{
        padding: 0px 10px;
        margin-right: 10px;
    }
    
}

@media screen and (max-width:340px) {
    .nav{
        display: none;
    }
    .title{
        display: none;
    }
    .headadd{
        display: none;
    }
    
}

