.homebody{
    height: calc(100vh - 180px);
    background-color: aliceblue;
    width: 100vw;
}

.recent{
    width: 100vw;
    height: calc(100% - 140px);
    background: #4b7499;
    /* padding: 20px 0px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.playlist{
    width:calc(100vw - 40px);
    height: 100px;
    line-height: 100px;
    /* text-align: center; */
    white-space: nowrap;
    padding: 20px;
    background: #032349;
    overflow-x: auto;
    overflow-y: hidden;
}

.playlist::-webkit-scrollbar, .recent::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:600px) {
    .playlist{
        height: 90px;
        line-height: 90px;
        font-size: 10px;
    }
    .recent{
        height: calc(100% - 130px);
    }
}

@media screen and (max-height:600px) {
    .playlist{
        height: 90px;
        line-height: 90px;
        font-size: 10px;
    }
    .recent{
        height: calc(100% - 130px);
    }
}