.listcont{
    height: calc(100vh - 100px);
}

.listconttop{
    height: 50px;
    background: rgb(142,67,231);
    background: linear-gradient(90deg, #123456 0%, #15589b 100%);
    color: white;
    font-size: 25px;
    line-height: 50px;
    padding: 0px 20px;
}

.listDetails{
    width: 100vw;
    margin: auto;
    background-color: #4b7499;
    color: white;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.listDetails::-webkit-scrollbar{
    display: none;
}

.playList{
    width: 70vw;
    padding: 20px 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutlist{
    display: flex;
    align-items: center;
}

.listdata{
    margin-left: 30px;
}

.listname{
    font-size: 23px;
}
.listcreator{
    font-size: 15px;
}

.listFollowing{
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.listFollow{
    background-color: rgb(79, 255, 9);
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.addtoqueue{
    font-size: 40px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 100%;
}

@media screen and (max-width:1000px){
    .playList img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:700px){
    .playList{
        width: 80vw;
        padding: 20px 10px;
        font-size: 13px;
        /* justify-content: space-evenly; */
    }
    .playList img{
        width: 120px;
        height: 120px;
    }
    .listdata{
        margin-left: 20px;
    }
}


@media screen and (max-width:500px){
    .playList{
        width: 100vw;
        padding: 20px 10px;
        font-size: 13px;
        justify-content: space-evenly;
    }
    .playList img{
        width: 100px;
        height: 100px;
    }
    .listdata{
        margin-left: 20px;
    }
    .addtoqueue{
        font-size: 30px;
        border: 2px solid black;
        padding: 15px;
        border-radius: 100%;
    }
}