.playListCardCont{
    position: relative;
    width: 150px;
    cursor: pointer;
    height: 150px;
    overflow: hidden;
    font-size: 13px;
    display: inline-block;
    margin-right: 30px;
    border-radius: 5px;
}

.albumcover{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}

.followers{
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    padding: 5px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0;
    box-shadow: -3px 3px 50px black;
}

.details{
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.356));
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    box-shadow: 0px -3px 50px black;
    opacity: 0;
}

.playListCreator{
    font-size: 10px;
}

.playListCardCont:hover .details{
    opacity: 1;
}

.playListCardCont:hover .followers{
    opacity: 1;
}

/* .playListcover{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.335);
    opacity: 0;
}

.playListCardCont:hover .playListcover{
    opacity: 1;
} */
