.searchCont{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.404);
}

.searchResultCont{
    width: 80vw;
    height: 75vh;
    border-radius: 5px;
    padding: 20px 0px;
    background-color: darkslategray;
}

.SearchtopBar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    border-radius: 5px;
    padding: 10px;

}

.SearchtopBar div{
    width: 80%;
    background-color: lightgrey;
    text-align: center;
    border-radius: 5px;
    border-left: 1px solid darkslategray;
    cursor: pointer;
}

.SearchtopBar div:hover{
    background-color: aquamarine;
}

#songResult{
    overflow-y: scroll;
    height: 68vh;
}

#songResult::-webkit-scrollbar{
    display: none;
}

#listResult{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 68vh;
    overflow-y: scroll;
}

#listResult::-webkit-scrollbar{
    display: none;
}

#listResult .playListCardCont{
    margin: 10px;
}
.searchnotFound{
    text-align: center;
    padding: 40px 0px;
    font-size: 25px;
}

@media screen and (max-width:600px) {
    .searchResultCont{
        width: 100vw;
    }
    #listResult{
        width: 90%;
    }
}