.divsigninCont {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 1;
}

.signinCont {
    width: 40vw;
    height: 40vh;
    background-color: darkslategrey;
    /* position: absolute;
    top: 30vh;
    left: 30vw; */
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.signinclose {
    line-height: 30px;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.signintext {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    height: 50%;
}

.text {
    width: 250px;
    height: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17;
    border-bottom: 3px solid rgb(71, 116, 116);
    margin-bottom: 20px;
}

.text:focus {
    outline: none;
    border-bottom: 3px solid rgb(33, 56, 56);
}

input[type="submit"] {
    width: 250px;
    height: 40px;
    font-size: 17px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}

.signintext .fas {
    margin-right: 20px;
}

#linkSignUp {
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 1100px) {
    .signinCont {
        width: 50vw;
        height: 40vh;
    }
}


@media screen and (max-width: 900px) {
    .signinCont {
        width: 60vw;
        height: 40vh;
    }
}



@media screen and (max-width: 650px) {
    .signinCont {
        width: 80vw;
        height: 35vh;
    }
    .loginbtn{
        width: 300px;
    }
}



@media screen and (max-width: 500px) {
    .signinCont {
        width: 90vw;
        height: 30vh;
    }
    .text {
        width: 230px;
        margin-bottom: 10px;
    }
    .loginbtn{
        width: 300px;
    }
}


@media screen and (min-height : 1000px) {
    .signinCont{
        height: 30vh;
    }
}

@media screen and (min-height : 1200px) {
    .signinCont{
        height: 25vh;
    }
}