.uploadmusiccont{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 1;
}

#musicUploadForm{
    width: 65vw;
    display: flex;
    background-color: darkslategray;
    color: white;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

.musicCoverCont{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.musicCoverImage{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#labelmusicFile{
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    width: 300px;
}

.othersongdetail{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#musicCover{
    border-radius: 100%;
}

.detail{
    width:300px;
    padding: 10px;
    font-size: 17px;
    border: 0px;
}

.detail:focus{
    outline: none;
}

@media screen and (max-width:1200px) {
    #musicUploadForm{
        width: 85vw;
        padding: 40px 20px;
    }
    #uploadbtn{
        margin-bottom: 30px;
    }
}




@media screen and (max-width:1000px) {
    #musicUploadForm{
        width: 50vw;
        padding: 40px 20px;
    }
    .musicCoverCont{
        flex-wrap: wrap;
    }
    .othersongdetail{
        flex-wrap: wrap;
    }
    #labelmusicFile,.detail{
        width: 300px;
        font-size: 15px;
    }
    .detail{
        margin-bottom: 10px;
    }
    .musicCoverImage{
        margin-bottom: 10px;
    }
    #uploadbtn{
        margin-bottom: 30px;
        width: 300px;
    }
}



@media screen and (max-width:800px) {
    #musicUploadForm{
        width: 65vw;
        padding: 40px 20px;
    }
    .musicCoverCont{
        flex-wrap: wrap;
    }
    .othersongdetail{
        flex-wrap: wrap;
    }
    #labelmusicFile,.detail{
        width: 250px;
        font-size: 13px;
    }
    .detail{
        margin-bottom: 10px;
    }
    .musicCoverImage{
        margin-bottom: 10px;
    }
    #uploadbtn{
        margin-bottom: 30px;
        width: 250px;
    }
}



@media screen and (max-width:500px) {
    #musicUploadForm{
        width: 80vw;
    }
    .musicCoverCont{
        flex-wrap: wrap;
    }
    .othersongdetail{
        flex-wrap: wrap;
    }
    #labelmusicFile,.detail{
        width: 250px;
        font-size: 13px;
    }
    .detail{
        margin-bottom: 10px;
    }
    .musicCoverImage{
        margin-bottom: 10px;
    }
    #uploadbtn{
        margin-bottom: 30px;
        width: 250px;
    }
}