@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&display=swap');

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #fad299 !important;
}

body{
    overflow: hidden;
}

::placeholder{
    color: white;
}

.fa-times:hover{
    text-shadow: 3px 3px 2px black;
}

.fas:hover{
    text-shadow: 3px 3px 5px black;
}