@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&display=swap');

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
    font-family: 'Mochiy Pop One', sans-serif;
}